{% extends 'productapp/headerandfooter.html' %}
{% block login %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .allcart {

            display: flex;
            flex-wrap: wrap;
            padding: 0 30px;
            align-items: center;

        }

        .mencart {
            border: 1px solid black;
            height: 500px;
            width: 23%;
            margin: 50px 1%;
            padding: 10px;
            text-align: center
        }

        .price {

            font-size: 22px;
            font-weight: bold;
        }

        #productimg {
            margin-left: 30px;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
        }

        #productdetails {
            margin-left: 5px;
        }

        .fa-star {
            font-size: 30px;
            color:#ff523b;;
        }
    </style>
</head>

<body>
    <center>
        <h1>Men Product</h1>
    </center>

    <div class="allcart">


        <div class="mencart">
            <div class="productcart" id="productimg">
                <img src="https://thumbs.dreamstime.com/b/blue-jeans-isolated-white-background-blue-jeans-isolated-white-126824335.jpg"
                    alt="" width="200px" height="300px">
            </div>
            <hr>
            <div class="productcart" id="productdetails">
                <p class="title">Boys Blue Jeans</p>
                <h3 class="price">Rs.500</h3>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

        </div>

        <div class="mencart">
            <div class="productcart" id="productimg">
                <img src="https://thumbs.dreamstime.com/b/blue-jeans-isolated-white-background-blue-jeans-isolated-white-126824335.jpg"
                    alt="" width="200px" height="300px">
            </div>
            <hr>
            <div class="productcart" id="productdetails">
                <p class="title">Boys Blue Jeans</p>
                <h3 class="price">Rs.500</h3>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

        </div>

        <div class="mencart">
            <div class="productcart" id="productimg">
                <img src="https://thumbs.dreamstime.com/b/blue-jeans-isolated-white-background-blue-jeans-isolated-white-126824335.jpg"
                    alt="" width="200px" height="300px">
            </div>
            <hr>
            <div class="productcart" id="productdetails">
                <p class="title">Boys Blue Jeans</p>
                <h3 class="price">Rs.500</h3>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

        </div>

        <div class="mencart">
            <div class="productcart" id="productimg">
                <img src="https://thumbs.dreamstime.com/b/blue-jeans-isolated-white-background-blue-jeans-isolated-white-126824335.jpg"
                    alt="" width="200px" height="300px">
            </div>
            <hr>
            <div class="productcart" id="productdetails">
                <p class="title">Boys Blue Jeans</p>
                <h3 class="price">Rs.500</h3>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

        </div>

        <div class="mencart">
            <div class="productcart" id="productimg">
                <img src="https://thumbs.dreamstime.com/b/blue-jeans-isolated-white-background-blue-jeans-isolated-white-126824335.jpg"
                    alt="" width="200px" height="300px">
            </div>
            <hr>
            <div class="productcart" id="productdetails">
                <p class="title">Boys Blue Jeans</p>
                <h3 class="price">Rs.500</h3>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

        </div>

        <div class="mencart">
            <div class="productcart" id="productimg">
                <img src="https://thumbs.dreamstime.com/b/blue-jeans-isolated-white-background-blue-jeans-isolated-white-126824335.jpg"
                    alt="" width="200px" height="300px">
            </div>
            <hr>
            <div class="productcart" id="productdetails">
                <p class="title">Boys Blue Jeans</p>
                <h3 class="price">Rs.500</h3>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

        </div>

        <div class="mencart">
            <div class="productcart" id="productimg">
                <img src="https://thumbs.dreamstime.com/b/blue-jeans-isolated-white-background-blue-jeans-isolated-white-126824335.jpg"
                    alt="" width="200px" height="300px">
            </div>
            <hr>
            <div class="productcart" id="productdetails">
                <p class="title">Boys Blue Jeans</p>
                <h3 class="price">Rs.500</h3>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

        </div>

    </div>
</body>

</html>

{% endblock login %}