{% extends 'index.html' %}

{% block table %}


<div class="head">
    <h3>Dealer List</h3>
    <button><a href="/deal/dealer_form/">Add Dealer</a></button>
    {% comment %} <button>Delete All</button> {% endcomment %}
  </div>
  <hr />
  <div class="able">
    <table id="customers">
      <tr>
        <th>Business Name</th>
        <th>Mobile_No</th>
        <th>Whatsapp_No</th>
        <th>Address</th>
        <th>District</th>
        <th>Pin_code</th>
        <th>Gst No</th>
        <th>Seed License</th>
        <th>Delete</th>
        <th>Modifiey</th>
      </tr>
      {% for i in a %}
        <tr>
          <td>{{ i.Business_Name }}</td>
          <td>{{ i.Mobile_No }}</td>
          <td>{{ i.Whatsapp_No }}</td>
          <td>{{ i.Address }}</td>
          <td>{{ i.District }}</td>
          <td>{{ i.Pin_code }}</td>
          <td>{{ i.Gst_No }}</td>
          <td>{{ i.Seed_License }}</td>
          <td>
            <a href="/deal/delete/{{ i.id }}/"><i class="fa-solid fa-trash m"></i></a>
          </td>
          <td>
            <a href="/deal/update/{{ i.id }}/"><i class="fa-solid fa-pen-to-square m"></i></a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>


{% endblock table %}


