{% extends 'base.html' %}

<div class="content container-fluid">
   {% block content %}
   {% endblock %}

               <div class="page-header">
                  <div class="row">
                     <div class="col-sm-12">
                        <h3><strong>Welcome <span>{{user.first_name}} {{user.last_name}} !</span></strong></h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                     </div>
                  </div>
               </div>
               

   </div>

               
               
